*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, sans-serif;
  }
  body{
    margin: 0;
    padding: 0;
    /* background: linear-gradient(120deg,#cfd0d2, #757077); */
    background-image: url("image/pngtree-modern-double-color-futuristic-neon-background-image_351866.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
  }
  

.container{
	background: #fbf7f79c;
	width: 400px;
	height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;	    
    border-radius:5px ;
   
    box-shadow:   15px 15px 10px ;
}
.container *
{
    margin-bottom:10px ;
}
.container .usrename,.userEmail,.userpassword,.userrepatepsword,.userphone,.usrename1
{
    position: relative;
}
i
{
    position: absolute;
    top: 15%;
    right: 15%;
    font-size: 20px;
}  


input[type=text], input[type=password],input[type=email] {
    width: 75%;
    padding: 10px;
    display: inline-block;
    border: none;
    border-radius: 10px;
    background: #ffffff;
    

}
hr 
{
    border: 3px solid #040404;
    margin-bottom: 25px;
}

label
{
            color: black;
            font-size: 20px;
}
input[type=text]:focus,input[type=password]:focus,input[type=email]:focus {
    background-color: rgb(239, 230, 230);
    /*علشان ميعملش بوردر لما اكتب*/
    outline: none;
    box-shadow: 3px 3px 5px ;
}
input[type=submit]
{
    background-color: rgb(11, 10, 10);
    padding: 10px 60px 10px 60px ;
    font-size: 20px;
    color: #ffffff;
    border-radius: 20px;
}
input[type=submit]:hover
{
    background-color: rgb(88, 15, 215);
   
}
input[type=radio]
{
    width: 15px;
    height:15px;
    margin-right: 30px;
}
input[type=checkbox]
{
    width: 15px;
    height: 15px;
    padding-left: 5px;
    
}
a{
    color: #1414e7;
    text-decoration: none;
    font-size: 20px;
}
a:hover{
    text-decoration: underline;
  }

