*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, sans-serif;
}
body{
  margin: 0;
  padding: 0;
  /* background: linear-gradient(120deg,#2980b9, #8e44ad); */
  background-image: url("image/pngtree-modern-double-color-futuristic-neon-background-image_351866.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  height: 100vh;
  overflow: hidden;
}

.container {
    
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 400px;
        height: 500px;
        background: #fbf7f79c;
        border-radius: 5px;
        box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
      }

      .container h1{
        text-align: center;
        padding: 20px 0;
        border-bottom: 1px solid silver;
      }

.container form
{
        padding: 0 40px;
        box-sizing: border-box;
}      
.usrename,.userpassword
{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.usrename input[type="text"],.userpassword input[type="password"],input[type="text"]
{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background-color:rgb(235, 253, 253) ;
    outline: none;
    border-radius: 5px;
}
.usrename input[type="text"]:focus,.userpassword input[type="password"]:focus,input[type="text"]:focus
{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background-color:rgb(130, 227, 227) ;
    outline: none;
    border-radius: 5px;
}
.usrename i,.userpassword i
{
    position: absolute;
   top: 50%;
  right:10px ;
  color: #060606;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
  transition: .5s;
}


input[type="checkbox"]
{
    margin-bottom: 20px;
}
input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #070707;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
  }
  input[type="submit"]:hover{
    background-color: #2691d9;
    transition: .5s;
  }

  .mylink ,.mylink2
  {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;
  }

.mylink a,.mylink2 a{
    color: #1414e7;
    text-decoration: none;
    font-size: 20px;
  }
  .mylink a:hover,.mylink2 a:hover{
    text-decoration: underline;
  }
  

